body{
    background-color: #040514;
    color: ghostwhite;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-logo{
    text-align: center;
    font-size: 2em;
    padding-top: 50px;
}

.fa-utensils{
    font-size: 60px;
    border: 3px solid white; 
    padding: 20px;
    border-radius: 50%;
}

.fa-utensils {
    animation-name: slideOutDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideOutDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50%);
    }
} 

.button{
    margin: 10px 10px;
    padding: 15px 15px;
    background-color: #000000;
    color:whitesmoke;
    border: 1px solid white;
    border-radius: 25px;
    text-decoration: none;
}

.button:hover{
    background-color: white;
    color: black;
}

h1 {
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
.fade-out {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}